<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /m3commerce/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . http://127.0.0.1/m3commerce/index.php [L]
</IfModule>